
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-企业OA办公系统</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="assert/css/font.css" th:href="@{/assert/css/font.css}">
	<link rel="stylesheet" href="assert/css/xadmin.css" th:href="@{/assert/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="assert/layui/layui.js" charset="utf-8" th:src="@{/assert/layui/layui.js}"></script>
    <script type="text/javascript" src="assert/js/xadmin.js" th:src="@{/assert/js/xadmin.js}"></script>

</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">企业OA系统-管理登录</div>
        <div id="darkbannerwrap"></div>
        <form method="post" class="layui-form" th:action="@{/user/login}">
            <p style="color: crimson" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
            <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <select class="layui-input" name="tip" >
            <option >管理员</option>
            <option >用户</option>
            </select>
            <br>
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>



    
  
</body>
</html>